DATABASE_URL=postgres://djuser:${DJPASS}@cloudsql/${PROJECT_ID}:${REGION}:realworld-pg/realworld-pg-db1
GS_BUCKET_NAME=${GS_BUCKET_NAME}
SECRET_KEY=fWuLZIdz3Lx0aU9Q0YF4Bkg3fa82QQICcBcCfq0K8VS93upsvv
DEBUG=True